.Actions {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
  }
  .Search{
    width: 100%;
    max-width: 175px;
  }