.checkbox-lg .form-check-input {
  top: 0.8rem;
  scale: 1.4;
  margin-right: 0.7rem;
}

.checkbox-lg .form-check-label {
  padding-top: 10px;
}
.checkbox-lg {
  display: flex !important;
  align-items: center;
}
